a {
    color: inherit;
    text-decoration: none;
}

/* S - custom */

.custom-icon.css-cveggr-MuiListItemIcon-root {
    min-width: 30px!important;
}
  
.center-text.css-1oxen2w-MuiTypography-root {
    margin-bottom: 0!important;
}
  
.center-text+.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    margin-left: 55%;
}

/* E - custom */